* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    font-family: 'Raleway';
}

i {
    font-size: 4rem;
    color: #fff;
}

.container {
    width: 1170px;
    margin: auto;
    padding: 0 1rem;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.columna {
    padding: 0 1rem;
}

.columna-100 {
    width: 100%;
}

.columna-33 {
    width: 33.33%;
}

.seccion {
    margin: 4rem 0;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.titulo span {
    color: #c70039;
}

.subtitulo {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 9.5rem;
    margin-bottom: 2rem;
}

#servicios {

}

#servicios .contenedor-servicios {
    padding: 1rem;
    height: 25rem;
    background: #191919;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}


#servicios .contenedor-servicios .icono {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    background: #c70039;
    border-radius: 30%;
    transition: all 0.9s ease;
    box-shadow: 0 0 0 0 #c70039;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#servicios .contenedor-servicios:hover .icono {
    box-shadow: 0 0 0 400px #c70039;
}

#servicios .contenedor-servicios .descripcion-servicios {
    position: relative;
    z-index: 1;   
}

#servicios .contenedor-servicios p {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5rem;
}

@media (max-width: 1199px) {

	.container {
		width: 960px;
	}

    #servicios .contenedor-servicios {
        height: 27rem;
    }
}

@media (max-width: 991px) {

	.container {
		width: 750px;
	}

}

@media (max-width: 768px) {

	.container {
		width: 100%;
	}

    .fila {
        justify-content: center;
    }

	.columna-mb-100 {
		width: 100%;
	}

	.columna-mb-50 {
		width: 50%;
	}

    #servicios .fila:last-child .columna:last-child {
        margin-top: 2rem;
    } 

    #servicios .contenedor-servicios:hover .icono {
        box-shadow: 0 0 0 0 #c70039;
    }
	
}

@media (max-width: 500px) {
    .container {
		width: 100%;
	}

	.columna-mb-100 {
		width: 100%;
	}

    #servicios .contenedor-servicios {
        margin-top: 2rem;
    } 

    .seccion {
        margin: 2.5rem 0;
    }

    .titulo {
        margin-bottom: 1rem;
    }

    #servicios .contenedor-servicios:hover .icono {
        box-shadow: 0 0 0 0 #c70039;
    }

    #servicios .fila:last-child .columna:last-child {
        margin-top: 0;
    } 
}